* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    cursor: default;
    color: #3c3c3c;

    word-wrap: break-word;
    overflow-y: scroll;
    min-height: 10000px !important;
    background-color: #eee;
    min-width: 1200px;
    left: 0;
    top: 0;
    right: 0;
    z-index: -100;
    /* pointer-events: none; */
    overflow-x: hidden;
    font: 12px/1.14 arial, "Microsoft YaHei";
}

body::after {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #eee url(../imges/store-bg.fb2576b6.jpg);
    z-index: -100;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    background: none;
    background: transparent;
    background-color: rgba(0, 0, 0, .15);
    border-radius: 6px;
}

#shipin {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 99.99%;
}

#shipin-ts {
    width: 260px;
    height: 120px;
    background-color: #131213;
    color: #fbc100;
    position: absolute;
    top: 24%;
    left: 84%;
    border-radius: 4%;
    box-shadow: 0 6px 12px -3px #131213, 0 7px 14px -7px #FFEB3B;
}

#shipin-ts h2 {
    font-size: 20px;
}

#shipin-ts h2>span {
    float: right;
    padding-right: 10px;
    font-size: 16px;
    font-weight: lighter;
    background-color: #614014;
    width: 24px;
}

#shipin-ts p {
    text-align: center;
    padding-top: 26px;
    font-size: 30px;
}

.titleheader {
    position: relative;
    height: 80px;
    background-color: #191919;
    box-sizing: border-box;
}

.titleheader-1 {
    left: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    box-sizing: border-box;
    width: 234px;
}

.titleheader-1 a {
    width: 233px;
    height: 40px;
    background-image: url(../imges/wegame-logo-40.776e17ff.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    color: transparent;
    display: inline-block;
}

.titleheader-2 {
    -webkit-user-select: text !important;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.5;
    color: #3c3c3c;
}

.titleheader-2 ul {
    width: 100%;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", sans-serif !important;
}

.adystab {
    display: inline-block;
    margin: 0 12px;
}

.adystab a {
    position: relative;
    display: block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 80px;
    color: hsla(0, 0%, 100%, .5);
}

.adystab a:hover {
    color: #fff;
}

.adystab-1 {

    background-color: hsla(0, 0%, 100%, .12);
}

.titleheader-3 {
    top: -2px;
    right: 46px;
    height: 100%;
    padding: 22px 0;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    position: absolute;
}

.titleheader-3-1 {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    color: hsla(0, 0%, 100%, .5);
    font-size: 13px;
    line-height: 36px;
    vertical-align: middle;
}

.titleheader-3-2 {
    display: inline-block;
    height: 36px;
    padding: 0 18px;
    margin-left: 20px;
    vertical-align: middle;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 18px;
    color: hsla(0, 0%, 100%, .5);
    white-space: nowrap;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    margin-top: 2px;
}

.titleheader-3-2:hover {
    border-color: hsla(0, 0%, 100%, .2);
    background-color: #ffc800;
    color: #333;
}

.dlk {
    display: inline-block;
    height: 36px;
    vertical-align: middle;
}

.titleheader-3-3 {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    color: hsla(0, 0%, 100%, .5);
    font-size: 13px;
    line-height: 36px;
    vertical-align: top;
}

.titleheader-3-3:hover,
.titleheader-3-1:hover {
    color: #fff
}

.dlkzh {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -205px 0 0 -280px;
    z-index: 9999;
    width: 560px;
    height: 410px;
    padding-top: 57px;
    background-color: #fff;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 1.5;
    font-family: Helvetica, Arial, "Microsoft Yahei", "Heiti SC";
    box-sizing: border-box;
    display: none;
}

.dlks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.dlks-1 {
    left: 37.2%;
    top: 30px;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    box-sizing: border-box;
}

.dlks-1 a {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 0;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 42px;
    margin-left: -16px;
    margin-top: -16px;
    background: url(../imges/下载.png);
    background-repeat: no-repeat;
    background-position: -157px 0;
    border-bottom: 4px solid #f9b011;
    box-sizing: border-box;
}

.dlks-2 {
    display: inline-block;
    margin: 0 20px;
    box-sizing: border-box;
    left: 39.2%;
    top: 30px;
    position: relative;
}

.dlks-2 a {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 0;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 42px;
    margin-left: -16px;
    margin-top: -16px;
    background: url(../imges/下载.png);
    background-repeat: no-repeat;
    background-position: -189px 0;
    box-sizing: border-box;
    /* border-bottom: 4px solid #f9b011; */

}

.dlks-2 a:hover {
    background-position: -223px 0;
    left: 60%;
}

.dlks-3 {
    position: absolute;
    right: 5px;
    top: 2px;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    opacity: 0.6;
    overflow: hidden;
}

.dlks-3::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    background: url(../imges/下载\ \(1\).png);
    background-repeat: no-repeat;

}

.zzc {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}



.dlkx h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
    font-family: helvetica, arial, 微软雅黑, 华文黑体;
    font-weight: 400;
    margin-top: 30px;
}

.dlkx p {
    color: #666;
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 36px;
    zoom: 1;
}

.dlkx p a {
    color: #3481cf;
}

.dltx {
    width: 300px;
    height: 100%;
    text-align: center;
    position: relative;
    left: 25.4%;

}

.dltx ul {
    width: 100%;
    /* overflow: hidden; */

}

.dltx-1 {
    float: left;
    width: 27%;
    margin-right: 17px;
    height: 110px;
    position: relative;
}

/* .dltx-1 i {
    position: absolute;
    background-color: #ffde66;
    color: #d50101;
} */

.zgbfaftydwt:hover::before {
    content: "";
    width: 92px;
    height: 172px;
    position: absolute;
    top: -45px;
    left: -98px;
    background: url(../imges/qr_tips.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.dltx-1 span {
    position: absolute;
    bottom: 2px;
    left: 28px;
    color: #f9b011;
}

.dltx-1 img {
    width: 100%;
}

.dltx-1:first-child img {
    border: 1px solid #d3d3d3;
}

.dltx-1:nth-child(2) img:hover,
.dltx-1:nth-child(3) img:hover {
    box-shadow: #67afe5 0px 0px 10px;
}


.dlwzys {
    width: 210px;
    position: absolute;
    right: 20px;
    bottom: 6px;
}

.dlwzys a {
    color: #666;
}

.dlwzys a:hover {
    text-decoration: underline;
}

.dlwzys i {
    color: #bfbfbf;
    margin: 0 5px;
}

.wxdlk {
    display: none;
}

.wxdlk h2 {
    padding: 26px 0 26px;
    text-align: center;
    font-size: 20px;
    color: rgb(55, 55, 55);
    font-weight: 400;
}

.wxdlk p {
    color: #999999;
    padding: 5px 0;
    position: absolute;
    left: 0;
    top: 108px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}

.wxdlk-1 img {
    display: block;
    width: 180px;
    margin: 0 auto;
    border: 0 none;
}

.wxdlk-2 {
    text-align: center;
    line-height: 1.6;
}

.wxdlk-2 p {
    position: static;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 0;
    color: rgb(55, 55, 55);
}


/* 账号密码的登录 */
.zhmmdl {
    display: none;
}

.zhmmdl h2 {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    margin-top: 30px;
    font-weight: 400;

}

.zhmmdl p {
    position: relative;
    margin: 0 auto 36px;
    z-index: 11;
    font-size: 16px;
    color: #666;
    text-align: center;
    font-family: helvetica, arial, 微软雅黑, 华文黑体;
}

.zhmmdl p>a {
    color: #3481cf;
    cursor: pointer;
}

.zhmmdl-1 {
    width: 272px;
    margin: 0 auto;
}

.zhmmdl-1 input {
    width: 258px;
    position: relative;
    top: 2px;
    left: 2px;
    height: 18px;
    padding: 10px 0 10px 10px;
    line-height: 18px;
    border: 1px solid #d6d6d6;
    background: 0 0;
    color: #333;
    font-family: Verdana, Tahoma, Arial;
    font-size: 14px;
}

.lvdlan {
    width: 272px;
    margin: 0 auto;
    position: relative;
    height: 40px;
    background-color: #86ce2f;
    margin-top: 12px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

.kbssjl {
    height: 50px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 200;
    margin: 0;
    background-color: hsla(0, 0%, 100%, .95);
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, .1), 0 5px 10px -5px rgba(0, 0, 0, .1);
    transition: background-color .2s linear;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 50px;
}

.ksskbx {
    margin: 0 auto;
    width: 1000px;
    height: 50px;
    background: transparent;
    line-height: 50px;
    position: relative;
    z-index: 1;

}

.kbjsnr {
    /* width: 500px; */
    height: 100%;
    float: left;
    font-size: 15px;
    margin-left: -16px;
}

.kbjsnr a {
    font-weight: 700;
    color: #3c3c3c;
    display: inline-block;
    padding: 0 15px;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.kbjsnr a:hover {
    background: #f4f4f4;

}

.kbjsnr a i {
    height: 4px;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    opacity: 1;
    background-color: #ffb300;
}

.zzddsssk {
    height: 50px;
    top: 0;
    left: 52px;
    position: absolute;
    font-size: 15px;
}

.zzddsssk-synr {
    padding: 0 38px 0 19px;
    color: #3c3c3c;
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
}

.zzddsssk-synr:hover {
    background-color: #f4f4f4;
}

.zzddsssk-synr:hover .dropdown-menu {
    display: block;
}

.zzddsssk a span {
    position: absolute;
    background: url(../imges/icon-select-drop.02a90074.png) no-repeat 0 50%;
    top: 50%;
    margin-top: -7px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    right: 13px;
}

.dropdown-menu {
    position: absolute;
    width: 116px;
    z-index: 20;
    top: 50px;
    left: 0px;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, .1), 0 4px 8px -4px rgba(0, 0, 0, .1);
    border: 1px solid #bfbfbf;
    background-color: #ffffff;
    display: none;
}

.dropdown-menu-li {
    line-height: 40px;
    font-size: 14px;
    color: #3c3c3c;
    padding: 0 19px;
    display: block;
    text-align: left;
    margin: 0;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#jxbs1:hover,
#jxbs2:hover {
    background-color: #f4f4f4;
}


/* 大型单机网游 */
.dxdjwy {
    float: right;
    padding: 1px 10px 0 0;
    width: 365px;
    height: 50px;
    line-height: 49px;
    overflow: hidden;
    text-align: right;
    font-size: 0;
    position: absolute;
    top: 0;
    left: 385px;
}

.dxdjwy a {
    color: #3c3c3c;
    padding: 0 15px 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 160px;
    display: inline-block;
    height: 50px;
    position: relative;
    font-size: 13px;
    vertical-align: middle;
}



.dxdjwy i {
    width: 1px;
    height: 10px;
    background-color: #bfbfbf;
    display: inline-block;
    margin: 0 15px 0 0;
    position: relative;
    top: 18px;
}

/* 搜索记录框 */
.ssjlk {
    width: 240px;
    margin: 9px 0 0;
    position: absolute;
    box-sizing: border-box;
    right: 0;
}

.ssjlk-1 {
    position: relative;
    border: 1px solid #ffb300;
    background-color: rgba(255, 202, 40, .5);
    overflow: hidden;
    border-radius: 60px;
    height: 32px;
    padding-right: 48px;
    transition: background .2s ease-in;
    color: #757575;
    box-sizing: border-box;
}

.ssjlk-1:hover {
    background-color: #ffca28;
}

.ssjlk-1 i {
    position: absolute;
    right: 50px;
    top: 4px;
    cursor: pointer;
    opacity: .6;
    display: none;
    width: 22px;
    height: 22px;
}

.ssjlk-1 i::after {
    content: "";
    width: 10px;
    height: 10px;
    background: url(../imges/icon-select-qianse下载.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -5px;
}

.ssjlk input {
    padding: 3px 25px 3px 15px;
    line-height: 18px;
    height: 30px;
    background-color: #fff;
    border-radius: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    cursor: text;
    color: #3c3c3c;
    font-size: 12px;
    border: none;
    outline: 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

/* 搜索按钮 */
.ssxan {
    transition: background-color .2s ease-in;
    right: 1px;
    width: 48px;
    height: 30px;
    margin-top: -15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
}

.ssxan::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    background-image: url(../imges/sousuo.png);
}

.resou {
    position: relative;
    /* top: 35px; */
    left: 0;
    width: 100%;
    border: 1px solid #bfbfbf;
    border-top: none;
    overflow: hidden;
    overflow-y: auto;
    background: #fff;
    z-index: 20;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, .2), 0 4px 8px -4px rgba(0, 0, 0, .2);
    border-radius: 3px;
    min-width: 118px;
    box-sizing: border-box;
    animation: searchmenu-show-anim .2s linear 0s 1 both;
    pointer-events: auto;
    display: none;
}

@keyframes searchmenu-show-anim {
    0% {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.resou p {
    line-height: 18px;
    color: #757575;
    padding-left: 18px;
    margin-top: 10px;
    font-size: 13px;
}

.resou ul {
    position: relative;
    width: 100%;
    clear: both;
    overflow: hidden;
    margin: 5px 0;
    box-sizing: border-box;
}

.tag-num {
    padding-right: 5px;
    float: left;
    padding: 0 20px 0 18px;
    position: relative;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    display: block;
    margin-top: -1px;
    width: 100%;
    transition: background .2s ease-out;
    overflow: hidden;
}

.tag-num:hover {
    background: #f4f4f4;
}

.tag-num div {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    max-width: 80%;
    height: 30px;
    box-sizing: border-box;
}

.tag-num div::after {
    content: "";
    width: 22px;
    height: 12px;
    display: inline-block;
    vertical-align: top;
    margin: 8px 0 0 5px;
    box-sizing: border-box;
    background-image: url(../imges/ico-search-tag-new.a0c00fb8.png);
    background-repeat: no-repeat;
}

.tag-num:nth-child(3) div::after {
    display: none;
}

.tag-num i {
    margin-right: 5px;
    vertical-align: top;
    margin-top: 8px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-position: 0 0;
    background: url(../imges/ico-search-ranking.b1abadf7.png);
    background-repeat: no-repeat;
}

.tag-num:nth-child(2) i {
    background-position: 0 -15px;
}

.tag-num:nth-child(3) i {
    background-position: 0 -30px;
}

.tag-num:nth-child(4) i {
    background-position: 0 -45px;
}

.tag-num:nth-child(5) i {
    background-position: 0 -60px;
}


/* 最近搜索记录 */
.zjss {
    position: relative;
    width: 100%;
    clear: both;
    overflow: hidden;
    color: #3c3c3c;
    font-size: 12px;
    border: 1px solid #bfbfbf;
    border: none;
    border-bottom: none;
    background: #fff;
    margin-top: 3px;
    animation: searchmenu-show-anim .2s linear 0s 1 both;
}

.zjss li:hover {
    background: #f4f4f4;
}

.zjss-zjyc {
    float: left;
    padding: 0 20px 0 18px;
    position: relative;
    height: 30px;
    line-height: 30px;
    display: none;
    margin-top: -1px;
    width: 100%;
    transition: background .2s ease-out;
    overflow: hidden;
}

.zjss-1 {
    font-weight: 700;
    font-size: 12px;
    color: #3c3c3c;
    line-height: 30px;
    height: 30px;
    display: inline-block;
    float: left;
}

.zjss-2 {
    color: #bfbfbf;
    font-weight: 400;
    float: right;
    cursor: pointer;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    display: inline-block;
}

.zjss-2:hover {
    color: #3c3c3c;
}

/* 搜索框添加的单独样式 */
.on {
    height: 30px;
    line-height: 30px;
    display: block;
    margin-top: -1px;
    width: 100%;
    transition: background .2s ease-out;
    overflow: hidden;
    float: left;
    padding: 0 20px 0 18px;
    position: relative;
}

.active {
    text-align: left;
    color: #3c3c3c;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 32px;
    cursor: pointer;
}

.scdbjsn {
    background: url(../imges/icon-select-qianse下载.png);
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 8px;
    cursor: pointer;
    opacity: 0.4;
}

.scdbjsn:hover {
    opacity: 1;
}

/* <!-- 轮播图第一大框架 --> */

.lbtdydkj {
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
    height: 100%;
}

.zctfs {
    left: 50%;
    margin-left: -718px;
    width: 168px;
    min-height: 100px;
    display: block;
    position: absolute;
    top: 30px;
    z-index: 100;
    transform-origin: 100% 50%;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
    animation: fadeIn .3s ease-in-out both;
    /* pointer-events: none; */
}

@keyframes fadeIn {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

.zctfs1 {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    cursor: pointer;
}

.zctfs1 p {
    font-size: 13px;
    color: #757575;
    padding: 13px 14px 6px;
}

.zctfs1 h2 {
    font-size: 18px;
    color: #3c3c3c;
    font-weight: 700;
    line-height: 1.3;
    padding: 1px 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: 0 14px 6px;
}

.zctfs2 {
    width: 140px;
    height: 200px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 2px;
    background-color: #e4e4e4;
}

.zctfs2 img {
    width: 100%;
    transition: all .15s ease-out;
}

.zctfs2:hover img {
    transform: scale(1.1);
    transition: all 0.3s;
}

.zctfs3 {
    height: 32px;
    line-height: 32px;
    color: #ff6f00;
    background-color: #fff0e5;
    text-align: center;
    margin: 8px 14px 14px;
    border-radius: 2px;
    overflow: hidden;
    font-size: 13px;
}

.rmbq {
    padding: 0 0 14px;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
}

.rmbq-title {
    color: #757575;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin: 0 10px;
    height: 48px;
    line-height: 49px;
}

.rmbq-title::after {
    content: "";
    border-bottom: 1px solid #e4e4e4;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.rmbq-xiam {
    padding: 8px 20px 0;
}

.rmbq-xiam li {
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    color: #3c3c3c;
}

.rmbq-xiam-ys {
    color: #3c3c3c;
}

.rmbq-xiam-ys:hover {
    color: #f69c00;
    transition: color .2s ease-in;
}

.wsgssj {
    margin: 20px 0 0;
    position: relative;
    width: 168px;
    height: 220px;
    overflow: hidden;
    border-radius: 4px;
}

.wsgssj img {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.wsgssj a {
    width: 136px;
    height: 26px;
    line-height: 25px;
    border-color: #ffca28;
    background: #ffca28;
    color: #000;
    position: absolute;
    left: 50%;
    bottom: 16px;
    margin-left: -68px;
    font-size: 12px;
    z-index: 20;
    border: 1px solid #ffb300;
    border-radius: 20px;
    text-align: center;
}

.wsgssj::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0, transparent);
    /* pointer-events: none; */
}

/* 轮播图框架 */
.lbtzx {
    /* min-height: 100vh; */
    height: 460px;
    -webkit-user-select: text !important;

}

.zlmddlb {
    padding-bottom: 20px;
    overflow: hidden;
    height: 460px;
}

.dlbnbys {
    width: 1000px;
    height: 390px;
    overflow: hidden;
    margin: 30px auto 0;
    transition: transform .2s linear, -webkit-transform .2s linear;
    -webkit-transform: translateX(0);
}

/* 存放图片 */
.dlbnbysxcl {
    height: 100%;
}

.dlbnbysxcl ul {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.dlbnbysxcl-cklm {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;

    /* animation: bannerFadeIn .2s linear 0s 1 both; */
}

.dlbnbysxcl-cklm a {
    transition: all 0s cubic-bezier(.6, .24, .52, 1);
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    background-color: #e0e0e0;
}

.dlbnbysxcl-cklm img {
    top: -30px;
    transition: all 0s cubic-bezier(.6, .24, .52, 1);
    height: 450px;
    position: absolute;
    left: 50%;
    width: 1400px;
    margin-left: -700px;
    object-fit: cover;
    object-position: 50% 50%;
}

/* 存放文字 */
.lbtcfwz {
    top: -30px;
    width: 1000px;
    margin-left: -500px;
    z-index: 150;
    /* pointer-events: none; */
    transition: transform .2s linear, -webkit-transform .2s linear;
    height: 450px;
    position: absolute;
    left: 50%;
}

.lbtcfwz-yc {
    width: 214px;
    height: 390px;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: rgba(33, 33, 33, .9);
    /* pointer-events: auto; */
}


.lbtcfwz-yc li {
    height: 53px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* .bjsgd:hover {
    background-color: #27333e;
    height: 72px;
} */

/* .bjsgd:hover .lbtcfwz-wzdyh-1,
.bjsgd:hover .lbtcfwz-wzdyh-tlzl {
    display: inline-block;
} */



.lbtcfwz-wzdyh {
    padding: 15px 0 0 20px;
    display: block;
}

.lbtcfwz-wzdyh div {
    padding: 0 0 0 5px;
}

.lbtcfwz-wzdyh-1 {
    /* display: inline-block; */
    height: 20px;
    line-height: 20px;
    background: url(../imges/noshp_banner-tag.6dcced41.png);
    background-repeat: no-repeat;
    position: relative;
    background-position: 100% -25px;
    vertical-align: middle;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #fff;
    margin: 0 4px 0 0;
    display: none;

}

.gbndys {
    background-position: 100% 0;
}



.lbtcfwz-wzdyh-1::after {
    content: "";
    width: 10px;
    height: 20px;
    background: url(../imges/noshp_banner-tag.6dcced41.png);
    background-repeat: no-repeat;
    background-position: 0 -25px;
    position: absolute;
    top: 0;
    left: -9px;
    z-index: -1;

}

.gbndys::after {
    background-position: 0 0;
}

.lbtcfwz-wzdyh-tlzl {
    display: none;
}

.lbtcfwz-wzdyh-2 {
    height: 20px;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    max-width: 165px;
    text-overflow: ellipsis;
    color: #e0e0e0;
    font-size: 14px;
}



.lbtcfwz-wzdyh p {
    color: hsla(0, 0%, 100%, .6);
    overflow: hidden;
    max-width: 190px;
    height: 21px;
    margin: 7px 0 0;
    opacity: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    opacity: 1;
    transform: translateZ(0);
}


/* 轮播图的轮播样式 */

.currentx {
    display: inline-block;
}

.njscdysx {
    font-size: 16px;
    width: 140px;

}

.yjlsxdx {
    color: #40c4ff;
}

.yydgbndysx {
    color: #ff8f00;
}


.gbkgbzddyd {
    background-color: #27333e;
    height: 72px !important;
}

/* 等会注释的样式 */
.yjtyd {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    top: -200px;
    background-color: #F44336;
    opacity: 0;
}

.yjtyd-right {
    font-family: "SimSun", "宋体";
    width: 30px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: 700;
    background-color: rgba(0, 0, 0, .5);
    font-size: 30px;
}

/* 热点预告 */

.rdyg {
    margin-bottom: 0;
    height: 70px;
    position: relative;
    z-index: 1;
    padding: 0;
    min-height: 30px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.rdyg h2 {
    font-size: 28px;
    line-height: 70px;
    height: 70px;
    max-width: 820px;
    position: relative;
    overflow: visible;
    font-weight: 400;
    color: #3c3c3c;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rdyg a {
    top: 50%;
    margin-top: -13px;
    min-width: 92px;
    height: 26px;
    line-height: 24px;
    position: absolute;
    right: 0;
    z-index: 1;
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
    border-radius: 60px;
    border: 1px solid #a4a4a4;
    color: #3c3c3c;
    padding: 0 15px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


.zssxdyx {
    position: relative;
    height: 420px;
    z-index: 0;
    min-height: 50px;
    margin-bottom: 5px;
}

.zssxdyx-title {
    overflow: hidden;
    height: inherit;
    width: 1000px;
    display: block;
    position: relative;
    margin: 0 auto;
}


.zssxdyx-title ul {
    position: absolute;
    top: 0;
    left: 0;
    /* left: -618px; */
    z-index: 1;
    white-space: nowrap;
    width: 100%;
}

.zssxdyx-title ul::before {
    content: "";
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    border-top: 2px dotted #bfbfbf;
    z-index: 3;
}

.soon {
    margin: 0 20px 0 0;
    width: 184px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 76px;
}

.soon::after {
    border-left: 6px solid #eee;
    border-right: 6px solid #eee;
    margin-left: -10px;
    background-color: #ffb300;
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 53px;
    border-radius: 50%;
    z-index: 10;
    box-sizing: content-box;
}

.soon::before {
    content: "";
    position: absolute;
    top: 54px;
    left: 0;
    right: -20px;
    border-top: 2px solid #ffb300;
    opacity: 1;
    z-index: 10;
}

.widget-future-game-item {
    position: relative;
}

.date-flow {
    width: 100%;
    position: absolute;
    top: -73px;
}

.date-flow-date {
    position: relative;
}

.date-flow-date strong {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    min-width: 80px;
    color: #3c3c3c;
    font-size: 15px;
    text-align: center;
}

.date-flow-desc {
    position: relative;
}

.date-flow-desc span {
    height: 19px;
    font-size: 13px;
    color: #757575;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    min-width: 80px;
    text-align: center;
}

.widget-gcard {
    overflow: hidden;
    height: 322px;
    position: relative;
    width: 184px;
    cursor: pointer;
    transition: box-shadow .2s ease-out, transform .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out;
}

.widget-gcard:hover {
    box-shadow: 0 6px 12px -3px rgba(0, 0, 0, .2), 0 7px 14px -7px rgba(0, 0, 0, .2);
}

.widget-gcard-wp {
    border-radius: 2px;
    overflow: hidden;
}

.widget-gcard-cover {
    width: 100%;
    height: 242px;
    display: block;
    background: #e4e4e4;
}

.widget-gcard-cover a {
    display: block;
    width: 100%;
    height: 100%;
}

.widget-gcard-cover-1122 {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 0;
    word-wrap: normal;
}

.widget-gcard-cover-1122 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 150px;
    object-position: 50% 50%;
    display: block;
    position: relative;
}

.widget-gcard-info {
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    color: #757575;
    font-size: 13px;
    min-height: 120px;
    position: absolute;
    transition: all .2s ease;
    padding: 19px 16px 0;
    margin: -10px 0 0;
    transform: translateY(40px);
}

.widget-gcard:hover .widget-gcard-info {
    transform: translateY(0);
}

.widget-gcard-tit {
    margin: 0 0 2px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    color: #3c3c3c;
    max-width: 100%;
}

.widget-gcard-tit strong {
    max-width: 98%;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget-gcard-meta {
    margin: 0;
    color: #757575;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.widget-gcard-infobtn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    display: none;
}

.widget-gcard:hover .widget-gcard-infobtn {
    display: block;
}

.widget-gcard-infobtn-gs {
    height: 40px;
    line-height: 40px;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    border-right: 1px solid #e4e4e4;
    color: #757575;
}

.widget-gcard-infobtn-gs:hover,
.widget-gcard-infobtn-xx:hover {
    background-color: #f4f4f4;
    color: #3c3c3c;
}

.widget-gcard-infobtn-xx {
    border-right: none;
    height: 40px;
    line-height: 40px;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    color: #757575;
}

.widget-gcard-infobtn-gs-ygz {
    display: none;
}

.forenotice-tag {
    position: absolute;
    top: -12px;
    left: 24px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    z-index: 10;
    background: url(../imges/noshp_tag-bg.c9d40ea6.png);
    background-repeat: no-repeat;
    background-size: 100% 160px;
    background-position: 0 -75px;
    padding: 0 7px 0 3px;
}

.forenotice-tag::after {
    background-position: -10px -50px !important;
    left: auto;
    right: -8px;
    top: 0;
    width: 10px;
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    background: url(../imges/noshp_tag-bg.c9d40ea6.png);
    background-repeat: no-repeat;
    top: 0;
}

.forenotice-tag::before {
    left: -9px;
    background-position: 0px -50px !important;
    width: 10px;
    content: "";
    display: block;
    height: 24px;
    position: absolute;
    background: url(../imges/noshp_tag-bg.c9d40ea6.png);
    background-repeat: no-repeat;
    top: 0;
}

.forenotice-tag-ngtshs {
    background-position: 0 -25px;
}

.forenotice-tag-ngtshs::after {
    background-position: -10px -0 !important;
}

.forenotice-tag-ngtshs::before {
    background-position: 0 0 !important;
}

.zssxdyx-lrght {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.zssxdyx-lrght-left {
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
    width: 30px;
    height: 68px;
    background: rgba(0, 0, 0, .15);
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -34px;
    border-radius: 4px;
    left: 300px;
}

.zssxdyx-lrght-left::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    top: 50%;
    margin-top: -10px;
    opacity: .8;
    background: url(../imges/xz-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    margin-left: -5px;
}



.zssxdyx-lrght-right {
    width: 30px;
    height: 68px;
    background: rgba(0, 0, 0, .15);
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -34px;
    border-radius: 4px;
    right: 300px;
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
}

.zssxdyx-lrght-right::after {
    background: url(../imges/xz-right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 50%;
    margin-right: -5px;
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    top: 50%;
    margin-top: -10px;
    opacity: .8;
}


/* .中型轮播服了 */

.zxlbzsr {
    position: relative;
    z-index: 0;
    min-height: 50px;
    width: 1000px;
    display: block;
    height: 731px;
    margin: 0 auto;
}

.geinilaiyigowflhd {
    overflow: hidden;

}

.zxlbzsr-bg {
    width: 3060px;
    padding: 0;
    min-height: 680px;
    position: relative;
    left: 0;
    transition: all 0.35s ease-out 0s;
}

.widget-layout-cols {
    float: left;
    width: 340px;
}

.tui-panel {
    width: 320px;
    margin-bottom: 20px;
    position: relative;
}

.game-rank-hd {
    height: 55px;
    position: relative;
}

.game-rank-hd h2 {
    height: 55px;
    background: #fff;
    padding: 16px 16px 14px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.game-rank-hd i {
    background-image: url(../imges/kbddwh.png);
    display: inline-block;
    width: 20px;
    height: 22px;
    position: absolute;
    top: 16px;
    left: 97px;
}


.game-rank-bd {
    height: 656px;
    background: #fff;

}

.game-item {
    padding: 20px 0;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .15s ease-in;
    display: block;
    position: relative;
}

/* .game-rank-bd:first-child.game-item {
    padding-top: 18px;
} */

.gcell-wp::after {
    content: "";
    border-top: 1px solid #e4e4e4;
    position: absolute;
    right: 0;
    top: 0px;
    left: 38px;
}

.widget-gcell-hd {
    top: 18px;
    width: 92px;
    height: 54px;
    z-index: 6;
    position: absolute;
    left: 38px;
}

.we-image {
    width: 92px;
    height: 54px;
    background-color: rgba(0, 0, 0, .3);
    display: inline-block;
    word-wrap: normal;
}

.we-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    border: 0;
    font-size: 0;
    vertical-align: middle;
}

.ranknumber {
    width: 34px;
    height: 34px;
    position: absolute;
    font-size: 0;
    top: 50%;
    margin-top: -17px;
    left: -37px;
    z-index: 1;
    display: inline-block;
}

.ranknumber-ndg {
    width: 34px;
    height: 34px;
}

.cell-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    bottom: 0;
    pointer-events: none;
    z-index: 6;
}

.cell-progress::after {
    content: "";
    border: 1px dashed #e0e0e0;
    position: absolute;
    left: 18px;
    top: 61%;
    bottom: 2px;
}

.cell-progress-bef::before {
    content: "";
    border: 1px dashed #e0e0e0;
    position: absolute;
    top: 0;
    bottom: 61%;
    left: 18px;
}

.cell-progress-dot {
    width: 16px;
    height: 16px;
    border: 2px solid #bfbfbf;
    position: absolute;
    top: 50%;
    margin: -8px 0 0;
    left: 11px;
    border-radius: 50%;
}

.cell-progress-dot-yans {
    border: 2px solid #ff8f00;
}

.cell-progress-dot::after {
    content: "";
    width: 6px;
    height: 6px;
    background: #ff8f00;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    margin: -3px 0 0 -3px;
    transform: scale(0);
    transition: all .2s ease-in;

}

.cell-progress-dot-yans::after {
    transform: scale(1);
}

.widget-gcell-bd {
    margin: 0 0 0 152px;
    min-height: 54px;
    position: relative;
    z-index: 6;
}

.widget-mask-cover {

    z-index: 3;
    opacity: .08;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.widget-mask-cover img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 0;
    font-size: 0;
    vertical-align: middle;
}

.widget-price-discount {
    height: 20px;
    line-height: 20px;
    padding: 0 5px 0 4px;
    font-size: 12px;
    display: inline-block;
    background-color: #ff6f00;
    color: #fff;
    margin: 0 5px 0 0;
    position: relative;
    z-index: 10;
    font-weight: 700;
    vertical-align: middle;
}

.widget-price-discount::after {
    border-color: transparent transparent transparent #ff6f00;
    border-style: solid;
    border-width: 10px 0 10px 6px;
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: -6px;
    top: 0;
    z-index: 10;
    display: inline-block;
    background-color: transparent;
}

.widget-price-text {
    vertical-align: top;
    padding: 0 10px 0 5px;
    display: inline-block;
}

.widget-price-new {
    font-size: 16px;
    font-weight: 700;
    color: #ff6f00;
}

.widget-price-old {
    font-size: 12px;
    color: #757575;
    padding: 0 0 0 8px;
}

.widget-price-mint {
    font-size: 16px;
}

.widget-gcell-tit {
    padding: 0 48px 0 0;
    margin: 0;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 29px;
    line-height: 29px;
    color: #3c3c3c;
    font-weight: 700;
}

.rankarrow {
    right: 9px;
    top: 2px;
    width: 34px;
    height: 34px;
    position: absolute;
}

.mcgbybdfx {
    -webkit-transform: rotateX(-180deg);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
}

.mcgbybdfx-xjhs {
    -webkit-transform: rotateX(0deg);
}

.widget-price {
    line-height: 20px;
    min-height: 20px;
    height: 25px;
    color: hsla(0, 0%, 100%, .6);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widget-price-glxys {
    font-size: 14px;
    color: #757575;
    padding: 4px 0 0;
}

.jiangqits {
    font-weight: 700;
    color: #ff6f00;
    font-size: 16px;
}

.widget-mask-bg {
    background-color: rgb(153, 108, 61);
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.widget-mask-bg-lvs {
    background-color: rgb(139, 153, 61);
}

.widget-mask-bg-QAYXZ {
    background-color: rgb(153, 61, 85);
}

.widget-mask-bg-lol {
    background-color: #c89d46f5;
}

.widget-mask-bg-YNSK {
    background-color: rgb(61, 116, 153);
}

.widget-mask-bg-YSDD {
    background-color: rgb(153, 61, 108);
}

.zxlbzsr-zyydxtb {
    width: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn-pre {
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
    width: 30px;
    height: 68px;
    background: rgba(0, 0, 0, .15);
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -34px;
    border-radius: 4px;
    left: -40px;
}

.btn-pre::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    top: 50%;
    margin-top: -10px;
    opacity: .8;
    background: url(../imges/xz-left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    margin-left: -5px;
}


.btn-next {
    width: 30px;
    height: 68px;
    background: rgba(0, 0, 0, .15);
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -34px;
    border-radius: 4px;
    right: -40px;
    transition: background-color .2s ease-in, color .2s ease-in, border-color .2s ease-in;
}

.btn-next::after {
    background: url(../imges/xz-right.png);
    background-repeat: no-repeat;
    background-size: 100%;
    right: 50%;
    margin-right: -5px;
    position: absolute;
    content: "";
    width: 10px;
    height: 20px;
    display: block;
    top: 50%;
    margin-top: -10px;
    opacity: .8;
}

#xlbtyd {
    left: -618px;
    transition: all 0.35s ease-out;
}



/* 蛋蛋君荐游戏 */


.tui-panel-youxi {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 25px;
    z-index: 10;
    transition: transform .2s linear, -webkit-transform .2s linear;
    position: relative;
    height: 410px;
}

.tui-panel-bd-youxi {
    position: relative;
}

.dandanjun-cont-youxi {
    height: 100%;
    position: relative;
}

.dandanjun-words {
    padding: 35px 30px 0 40px;
    width: 550px;
}

.dandanjun-words h3 {
    color: #fff;
    font-size: 36px;
    width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 550px;
    position: relative;
}

.dandanjun-words h3 a {
    color: #fff;
}

.dandanjun-words h3 a:hover {
    text-decoration: underline;
}

.dandanjun-words p {
    color: hsla(0, 0%, 100%, .75);
    font-size: 14px;
    max-height: 80px;
    position: relative;
    padding: 0 0 0 16px;
    margin: 12px 0;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.dandanjun-words p::after {
    background: hsla(0, 0%, 100%, .2);
    content: "";
    width: 3px;
    position: absolute;
    left: 0;
    top: 3px;
    bottom: 3px;
}



.dandanjun-btn {
    margin: 15px 0 0;
}

.dandanjun-btn a {
    width: 190px;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    background: transparent linear-gradient(280deg, #ffc800, #ffe082) 0 0 no-repeat padding-box;
    color: #000;
    border: none;
    text-align: left;
    font-weight: 700;
    position: relative;
    font-size: 14px;
    transition: all .2s ease-out;
    min-width: 100px;
    padding: 0 15px;
    display: inline-block;
    cursor: pointer;
}

.dandanjun-btn a i {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../imges/ico-btn-arrow-r.4b0772f7.png);
}

.dandanjun-btn a:hover i {
    animation: idright .6s ease-out 0s infinite both;

}

@keyframes idright {
    0% {
        transform: translateZ(0);
    }

    25% {
        -webkit-transform: translate3d(5px 0, 0);
        transform: translate3d(5px 0, 0);
    }

    75% {
        transform: translate3d(5px, 0, 0);
    }

    100% {
        transform: translateZ(0);
    }
}


.dandanjun-games {
    position: absolute;
    left: 40px;
    bottom: -164px;
}

.dandanjun-games-tit div {
    color: hsla(0, 0%, 100%, .8);
    font-size: 15px;
    display: inline-block;
}

.dandanjun-games-tit div::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(../imges/ico-dandanjun.100044d7.png);
    display: inline-block;
    vertical-align: middle;
    margin: -4px 5px 0 0;
    opacity: .8;
}

.dandanjun-games-tit p {
    color: hsla(0, 0%, 100%, .5);
    padding: 0 0 0 10px;
    display: inline-block;
}


.dandanjun-glist {
    margin: 10px 0 0;
    width: 496px;
    white-space: nowrap;
    position: relative;
    z-index: 0;
    min-height: 50px;
}


.viewport-lmslb {
    height: 100px;
    overflow: hidden;
    width: 98%;
    display: block;
    position: relative;
}

.tui-slider-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 672px;
    transition: all 0.25s ease-out 0s;
}

.gs-list-item {
    overflow: hidden;
    display: inline-block;
    margin-right: 8px;
    width: 152px;
    height: 90px;
}

.gs-list-item img {
    width: 100%;
    transition: all 0.15s ease-out;
}

.gs-list-item img:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.tui-slider {
    width: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    /* -webkit-transform: translateY(-50%); */
    transform: translateY(-50%);
    animation: fadeIn .3s ease-in-out both;
}

.prehoutui {
    background: none;
}

.nextqianjin {
    background: none;

}

.dandanjun-bg-youxi {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e4e4e4;
    border-radius: 2px;
    z-index: -1;
}

.dandanjun-bg-ele-youxi {
    position: absolute;
    width: 1050px;
    height: 510px;
    top: -50px;
    right: -50px;
    pointer-events: none;
    z-index: 2;
}

.dandanjun-bg-ele-youxi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.zuijingx {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 5px;
}

.zuijingx-youx {
    overflow: hidden;
    height: inherit;
    width: 100%;
    display: block;
    position: relative;
}

.zuijingx-youx ul {
    width: 2380px;
    position: relative;
    left: 0;
    transition: all 0.35s ease-out 0s;
}

.zuijingx-youx ul li {
    display: inline-block;
    width: 340px;
    padding: 0 20px 0 0;
    white-space: normal;
    vertical-align: middle;
}

.widget-updates-box-innner {
    width: 321px;
    border-radius: 2px;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
    margin-bottom: 20px;
    transition: box-shadow .2s ease-out, -webkit-box-shadow .2s ease-out;
}

.widget-updates-box-innner:hover {
    box-shadow: 0 6px 12px -3px rgba(0, 0, 0, .2), 0 7px 14px -7px rgba(0, 0, 0, .2);
}

.widget-updates-box-innner:hover .we-image-figure {
    transform: scale(1.1);
}

.we-image-figure {
    transition: all .15s ease-out;
    width: 100%;
}

.tui-figure {
    width: 100%;
    overflow: hidden;
    position: relative;
    min-height: 145px;
    /* min-height: 404px; */
    display: block;
}

.figure {
    width: 100%;
    height: 180px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    overflow: hidden;
    background-size: 62px 49px;
    background-position: 50% 70px;
}

.figure-info {
    margin: 180px 0 0;
    padding: 20px 16px 0;
    position: relative;
    z-index: 12;
    background-color: #fff;
}

.game-poster {
    position: relative;
    margin: -5px 0 16px;
}

.game-poster-cover {
    width: 64px;
    height: 84px;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 2px solid #fff;
    display: block;
}

.game-poster-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-poster-cont {
    padding-left: 74px;
    margin-top: 3px;
}

.game-poster-cont h4 {
    font-size: 14px;
    margin: 0 0 9px;
    font-weight: 400;
    color: #3c3c3c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 140px;
    display: block;
}

.game-poster-cont h4:hover,
.game-poster-btn:hover {
    color: #f69c00;
}

.gstags {
    font-size: 12px;
    height: 19px;
    overflow: hidden;
    color: #757575;
}

.svg-arrow-right {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: -3px -8px 0 3px;
}

.svg-arrow-right-huihua {
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
    fill: none;
    stroke-width: 2;
    stroke: #bfbfbf;
}

.game-poster-btn:hover .svg-arrow-right-huihua {
    stroke: #f69c00;
}

.game-poster-btn {
    position: absolute;
    right: 0;
    top: 1px;
    color: #757575;
    font-size: 13px;
}

.figure-info-tit {
    font-size: 16px;
    margin-bottom: 12px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    max-height: 26px;
    color: #3c3c3c;
    font-weight: 700;
    max-width: 100%;
    line-height: 20px;
}

.figure-summary {
    text-align: left;
    height: 64px;
    -webkit-line-clamp: 3;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #757575;
    word-break: break-all;
    line-height: 1.5;
}

.figure-other {
    position: relative;
    height: 43px;
    padding: 12px 0 0;
    margin: 10px 0 0;
    color: #757575;
}

.figure-other::after {
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #e4e4e4;
}

.update--views {
    float: left;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
}

.update--views-right {
    float: right;
}

.update--views i {
    margin: -3px 4px 0 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.yincxiaoyan {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

.skin-panel-bg {
    width: 100%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}