* {
    box-sizing: border-box;
}

.titleheader {
    position: relative;
    height: 80px;
    background-color: #191919;
    box-sizing: border-box;
}

.titleheader-1 {
    left: 40px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    box-sizing: border-box;
    width: 234px;
}

.titleheader-1 a {
    width: 233px;
    height: 40px;
    background-image: url(../imges/wegame-logo-40.776e17ff.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 0;
    color: transparent;
    display: inline-block;
}

.titleheader-2 {
    -webkit-user-select: text !important;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 1.5;
    color: #3c3c3c;
}

.titleheader-2 ul {
    width: 100%;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", sans-serif !important;
}

.adystab {
    display: inline-block;
    margin: 0 12px;
}

.adystab a {
    position: relative;
    display: block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 80px;
    color: hsla(0, 0%, 100%, .5);
}

.adystab a:hover {
    color: #fff;
}

.adystab-1 {

    background-color: hsla(0, 0%, 100%, .12);
}

.titleheader-3 {
    top: -2px;
    right: 46px;
    height: 100%;
    padding: 22px 0;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    position: absolute;
}

.titleheader-3-1 {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    color: hsla(0, 0%, 100%, .5);
    font-size: 13px;
    line-height: 36px;
    vertical-align: middle;
}

.titleheader-3-2 {
    display: inline-block;
    height: 36px;
    padding: 0 18px;
    margin-left: 20px;
    vertical-align: middle;
    border: 1px solid hsla(0, 0%, 100%, .1);
    border-radius: 18px;
    color: hsla(0, 0%, 100%, .5);
    white-space: nowrap;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
    margin-top: 2px;
}

.titleheader-3-2:hover {
    border-color: hsla(0, 0%, 100%, .2);
    background-color: #ffc800;
    color: #333;
}

.dlk {
    display: inline-block;
    height: 36px;
    vertical-align: middle;
}

.titleheader-3-3 {
    display: inline-block;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    color: hsla(0, 0%, 100%, .5);
    font-size: 13px;
    line-height: 36px;
    vertical-align: top;
}

.titleheader-3-3:hover,
.titleheader-3-1:hover {
    color: #fff
}

.dlkzh {
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -205px 0 0 -280px;
    z-index: 9999;
    width: 560px;
    height: 410px;
    padding-top: 57px;
    background-color: #fff;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 1.5;
    font-family: Helvetica, Arial, "Microsoft Yahei", "Heiti SC";
    box-sizing: border-box;
    display: none;
}

.dlks {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.dlks-1 {
    left: 37.2%;
    top: 30px;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    box-sizing: border-box;
}

.dlks-1 a {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 0;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 42px;
    margin-left: -16px;
    margin-top: -16px;
    background: url(../imges/下载.png);
    background-repeat: no-repeat;
    background-position: -157px 0;
    border-bottom: 4px solid #f9b011;
    box-sizing: border-box;
}

.dlks-2 {
    display: inline-block;
    margin: 0 20px;
    box-sizing: border-box;
    left: 39.2%;
    top: 30px;
    position: relative;
}

.dlks-2 a {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 0;
    left: 50%;
    top: 50%;
    width: 36px;
    height: 42px;
    margin-left: -16px;
    margin-top: -16px;
    background: url(../imges/下载.png);
    background-repeat: no-repeat;
    background-position: -189px 0;
    box-sizing: border-box;
    /* border-bottom: 4px solid #f9b011; */

}

.dlks-2 a:hover {
    background-position: -223px 0;
    left: 60%;
}

.dlks-3 {
    position: absolute;
    right: 5px;
    top: 2px;
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    opacity: 0.6;
    overflow: hidden;
}

.dlks-3::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
    background: url(../imges/下载\ \(1\).png);
    background-repeat: no-repeat;

}

.zzc {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}



.dlkx h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    text-align: center;
    font-family: helvetica, arial, 微软雅黑, 华文黑体;
    font-weight: 400;
    margin-top: 30px;
}

.dlkx p {
    color: #666;
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 36px;
    zoom: 1;
}

.dlkx p a {
    color: #3481cf;
}

.dltx {
    width: 300px;
    height: 100%;
    text-align: center;
    position: relative;
    left: 25.4%;

}

.dltx ul {
    width: 100%;
    /* overflow: hidden; */

}

.dltx-1 {
    float: left;
    width: 27%;
    margin-right: 17px;
    height: 110px;
    position: relative;
}

/* .dltx-1 i {
    position: absolute;
    background-color: #ffde66;
    color: #d50101;
} */

.zgbfaftydwt:hover::before {
    content: "";
    width: 92px;
    height: 172px;
    position: absolute;
    top: -45px;
    left: -98px;
    background: url(../imges/qr_tips.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.dltx-1 span {
    position: absolute;
    bottom: 2px;
    left: 28px;
    color: #f9b011;
}

.dltx-1 img {
    width: 100%;
}

.dltx-1:first-child img {
    border: 1px solid #d3d3d3;
}

.dltx-1:nth-child(2) img:hover,
.dltx-1:nth-child(3) img:hover {
    box-shadow: #67afe5 0px 0px 10px;
}


.dlwzys {
    width: 210px;
    position: absolute;
    right: 20px;
    bottom: 6px;
}

.dlwzys a {
    color: #666;
}

.dlwzys a:hover {
    text-decoration: underline;
}

.dlwzys i {
    color: #bfbfbf;
    margin: 0 5px;
}

.wxdlk {
    display: none;
}

.wxdlk h2 {
    padding: 26px 0 26px;
    text-align: center;
    font-size: 20px;
    color: rgb(55, 55, 55);
    font-weight: 400;
}

.wxdlk p {
    color: #999999;
    padding: 5px 0;
    position: absolute;
    left: 0;
    top: 108px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}

.wxdlk-1 img {
    display: block;
    width: 180px;
    margin: 0 auto;
    border: 0 none;
}

.wxdlk-2 {
    text-align: center;
    line-height: 1.6;
}

.wxdlk-2 p {
    position: static;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 0;
    color: rgb(55, 55, 55);
}


/* 账号密码的登录 */
.zhmmdl {
    display: none;
}

.zhmmdl h2 {
    text-align: center;
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    margin-top: 30px;
    font-weight: 400;

}

.zhmmdl p {
    position: relative;
    margin: 0 auto 36px;
    z-index: 11;
    font-size: 16px;
    color: #666;
    text-align: center;
    font-family: helvetica, arial, 微软雅黑, 华文黑体;
}

.zhmmdl p>a {
    color: #3481cf;
    cursor: pointer;
}

.zhmmdl-1 {
    width: 272px;
    margin: 0 auto;
}

.zhmmdl-1 input {
    width: 258px;
    position: relative;
    top: 2px;
    left: 2px;
    height: 38px;
    padding: 10px 0 10px 10px;
    line-height: 18px;
    border: 1px solid #d6d6d6;
    background: 0 0;
    color: #333;
    font-family: Verdana, Tahoma, Arial;
    font-size: 14px;
}

.lvdlan {
    width: 272px;
    margin: 0 auto;
    position: relative;
    height: 40px;
    background-color: #86ce2f;
    margin-top: 12px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}

/* 第一部分 */
.app-scene-1 {
    height: 1000px;
    background-color: #0d0d0e;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-image: url(../upload/bg-1.da120ba9851c9b07295aaccc68062950.jpg);
}

.tui-fr-container {
    width: 1420px;
    padding-left: 156px;
    -webkit-transition: all .3s ease-out;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

.app-eapp-scene-maif {
    margin-left: 150px;
    left: 50%;
    top: 346px;
    -webkit-transition: all .3s ease-out;
    position: absolute;
}

.app-scene-logo {
    animation-delay: .2s;
    width: 223px;
    height: 27px;
    animation: slideUp 1s ease-in-out both;
    margin-bottom: 28px;
    font-size: 0;
    color: transparent;
    background-image: url(../upload/tencent-wegame-b.134dc10409ab9dfbed89f126807ca9f6.png);
}

.app-scene-tit {
    animation-delay: .5s;
    animation: slideUp 1s ease-in-out both;
    display: block;
    font-size: 0;
    white-space: nowrap;
    color: transparent;
}

.app-scene-tit span {
    width: 422px;
    height: 164px;
    margin-bottom: 14px;
    font-size: 0;
    color: transparent;
    display: block;
    white-space: nowrap;
    background-image: url(../upload/tit-1-b.ea9eb1326e9627ee1ad1da7d159e0536.png);
    background-repeat: no-repeat;
}

.app-scene-btngroup {
    animation-delay: .8s;
    width: 196px;
    display: inline-block;
    margin: 5px 0 5px 23px;
    height: 151px;
    float: left;
    animation: slideUp-Big 1s ease-in-out both;
}

.app-btn-download-xz {
    background-position: 0 -50px;
    margin: 10px 0;
    display: inline-block;
    width: 196px;
    height: 50px;
    font-size: 0;
    background-repeat: no-repeat;
    background-image: url(../imges/btn-group.7c744098c159b827e86d03d703cf1798.png);
}

.app-btn-download {
    background-position: 0 -150px;
    margin: 10px 0;
    display: inline-block;
    width: 196px;
    height: 50px;
    font-size: 0;
    background-repeat: no-repeat;
    background-image: url(../imges/btn-group.7c744098c159b827e86d03d703cf1798.png);
}

.app-btn-download-xz:hover {
    background-position: 0 -100px;
}

.app-btn-download:hover {
    background-position: 0 0;
}

@keyframes slideUp-Big {
    0% {
        opacity: 0;
        transform: translate3d(0, 60px, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.app-update-log {
    animation-delay: .8s;
    animation: slideUp-Big 1s ease-in-out both;
    background: url(../upload/qr-code.3974bec4c9f25dfd8bd712fdf9e1269e.png) no-repeat;
    width: 151px;
    height: 151px;
    display: inline-block;
    float: left;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

.app-logoapp-animate {
    animation: slideInBottom 1s ease-in-out both;
    animation-delay: .2s;
    left: 70px;
    bottom: 0;
    width: 580px;
    height: 767px;
    position: absolute;
}

.app-logo-g {
    position: absolute;
    animation-delay: 1.2s;
    animation: Updown 3s linear infinite;
    left: 50%;
    top: -65px;
    z-index: 3;
    width: 282px;
    height: 421px;
    margin-left: -100px;
    background-image: url(../upload/app-focus-logo.7428ba1df083b6a00fabe2ee7f6da24e.png);
}

.app-logo-bg-1 {
    animation-delay: 1.2s;
    animation: Updown 3s linear infinite;
    left: -124px;
    top: 176px;
    z-index: 0;
    width: 216px;
    height: 162px;
    background-image: url(../upload/app-focus-k1.5eb44385bd32eddc7d153900599aba27.png);
    position: absolute;
}

.app-logo-bg-2 {
    animation-delay: 1.5s;
    animation: Updown 3s linear infinite;
    right: -105px;
    top: 444px;
    z-index: 2;
    width: 161px;
    position: absolute;
    height: 167px;
    background-image: url(../upload/app-focus-k2.58ed134fef9dc023e2c04f968cea0164.png);
}

.app-logo-bg-3 {
    animation-delay: 1.7s;
    animation: Updown 3s linear infinite;
    left: -153px;
    top: 285px;
    z-index: 2;
    width: 84px;
    height: 56px;
    position: absolute;
    background-image: url(../upload/app-focus-k3.ee2b290e729b091e7a6b048a9b5de4a2.png);
}

.app-logo-bg-4 {
    left: -62px;
    bottom: -40px;
    z-index: 1;
    width: 683px;
    height: 670px;
    position: absolute;
    background-image: url(../upload/app-focus-k4.1a6dff0ba99e1ce91e6239848b0af55a.png)
}

@keyframes Updown {
    0% {
        transform: translateZ(0);
    }

    50% {
        transform: translate3d(0, 8px, 0);
    }

    100% {
        transform: translateZ(0);
    }
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translate3d(0, 100px, 0);
    }

    100% {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* 第二部分 */
.app-scene-2 {
    height: 850px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-image: url(../upload/bg-2.a22cdbe83ff9f4264cc0944cf72834f6.png);
}

.tui-fr-container-1 {
    height: 100%;
    width: 1260px;
    position: relative;
    margin: 0 auto;
}

.pp-scene-maina {
    top: 370px;
    right: 245px;
    position: absolute;
}



.pp-scene-maina h2 {
    animation-delay: .2s;
    animation: slideUp-Big 1s ease-in-out both;
    display: block;
    position: relative;
    margin-bottom: 30px;
    width: 366px;
    height: 124px;
    white-space: nowrap;
    color: transparent;
    background-repeat: no-repeat;
    background-image: url(../upload/tit-2.eda058d3bb4be51d39510c7ed872eb65.png);
}

.app-scene-gear {
    animation: slideUp-Big 1s ease-in-out 1 both;
    animation-delay: .2s;
    width: 163px;
    height: 163px;
    position: absolute;
    top: -55px;
    right: -185px;
}

.app-scene-gear-1 {
    animation: clockwise 1s linear infinite;
    animation-delay: .2s;
    background: url(../upload/gear-1.5568ae10f23dd7f2b57473503d6fcbf1.png);
    width: 122px;
    height: 122px;
    position: absolute;
    top: 0;
}

.app-scene-gear-2 {
    animation: counterclockwise 1s linear infinite;
    animation-delay: .2s;
    width: 71px;
    height: 71px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../upload/gear-2.ba5c6100643b28af2c7616a378bfb32b.png);
}

.app-scene-gear-3 {
    position: absolute;
    width: 19px;
    height: 50px;
    background-position: 0 -50px;
    left: 48px;
    top: 37px;
    background-repeat: no-repeat;
    background-image: url(../upload/icon-num-group.766958e32dacbd94860df2fc8b2aa929.png);
}

@keyframes clockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes counterclockwise {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.app-animateac {
    animation: slideUp-Big 1s ease-in-out 1 both;
    animation-delay: .2s;
    position: absolute;
    top: 103px;
    left: 30px;
    width: 581px;
    height: 674px;
    padding: 112px 132px 0;
    background-image: url(../upload/pic-2.9568ceb43d0b66783e0ff26db704a279.png);
    background-repeat: no-repeat;

}

/* 第三部分 */

.app-scene-3 {
    height: 850px;
    background-color: #1c1c1c;
    background-position: 50% 0;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    background-image: url(../upload/bg-3.721258e0bea6f10b98813983ae22e2b6.png);

}

.tui-fr-container-2 {
    height: 100%;
    width: 1260px;
    position: relative;
    margin: 0 auto;
}

.appcnmaiappimte {
    top: 329px;
    width: 100%;
    left: 130px;
    position: absolute;
}

.appcnmaiappimte h2 {
    width: 438px;
    height: 138px;
    animation-delay: .2s;
    animation: slideUp-Big 1s .2s ease-in-out both;
    background-image: url(../upload/tit-3.3e2cc793b17da4bfba1f5166a253b92d.png);
}

.aklgaklghagk {
    top: -36px;
    left: -80px;
}

.asg231231ga {
    right: 0;
}

.agGsgsgg2 {
    left: 0;
}

.catgra-niat::before {
    content: "";
    top: 48px;
    position: absolute;
    right: -14px;
    width: 355px;
    height: 535px;
    background-image: url(../upload/lolahgjah.jpg);
    background-size: 91%;
    background-repeat: no-repeat;
    background-position-y: -115px;
    background-position-x: 10px;
}

.catgra-niat {
    z-index: 1;
    position: absolute;
    top: 104px;
    right: 236px;
    width: 340px;
    height: 642px;
    animation: slideUp-Big .8s .3s ease-in-out both;
    background-image: url(../upload/pic-3.f94106621fa727514b2f61839ff19961.png);

}

.catgra-niat li:first-child {
    width: 144px;
    height: 53px;
    position: absolute;
    top: 308px;
    animation: opacity-show .9s ease-in-out both;
    left: -88px;
    background-image: url(../upload/icon-tag-1.55f9070c5aa9bfb3c414c13ac079a2a6.png);
}

.catgra-niat li:last-child {
    width: 164px;
    height: 53px;
    position: absolute;
    top: 414px;
    animation: opacity-show .9s ease-in-out both;
    right: -132px;
    background-image: url(../upload/icon-tag-2.30a51287838e9fb7b7dc08e27bddba8b.png);
}

.pagr-isont {
    position: absolute;
    top: 104px;
    right: 236px;
    width: 340px;
    height: 642px;
    font-size: 0;
    animation: opacity-show .8s .8s ease-in-out both;
}

.pagr-isont li:first-child {
    width: 148px;
    height: 79px;
    position: absolute;
    top: 187px;
    right: -160px;
    background-image: url(../upload/discount-1.812cc4be944f5e20ecb7730c0949aa07.png);
}

.pagr-isont li:last-child {
    width: 149px;
    height: 89px;
    position: absolute;
    top: 436px;
    left: -155px;
    background-image: url(../upload/discount-2.120b1a30db1942cffccba4ae2d3ce89e.png);
}

@keyframes opacity-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* 第四部分 */
.daaaapp-scene-2 {
    background-image: url(../upload/bg-4.f8443a1df569c8092d812816dfebd116.png);
}

.pp-scene-maiafaasna {
    background-image: url(../upload/tit-4.767e3f9bdb3ef1ebc3240b0c163cb969.png) !important;
    width: 516px !important;
    height: 140px !important;
    left: 175px;
    top: -57px;
}

.appaimateac {
    position: absolute;
    left: 151px;
    top: 104px;
    width: 460px;
    height: 642px;
    animation: slideUp-Big 1s ease-in-out 1 both;
    animation-delay: .2s;
    background-image: url(../upload/pic-4.e76856f3629d76a3639a956acf2a4ab0.png);
}

.appaimateac::before {
    content: "";
    width: 460px;
    height: 586px;
    position: absolute;
    left: 8px;
    top: 48px;
    background-size: 70%;
    background-image: url(../upload/kalghklhgsaklh.jpg);
    background-repeat: no-repeat;
}

/* 第五部分 */
.app-scene-3agagg {
    background-image: url(../upload/bg-5.e6e153b2664f2e0abb38d5c1db95453d.png) !important;
}

.aklghjkabgig {
    background-image: url(../upload/tit-5.9ec0efe844439bfd5a09d7b7cb15b5e9.png) !important;
}

.jjkgnajkg {
    width: 342px;
    height: 644px;
    right: 250px;
    top: 103px;
    position: absolute;
    z-index: 1;
}

.aklghjagjagkh {
    position: absolute;
    width: 730px;
    height: 644px;
    left: 594px;
    top: 103px;
    font-size: 0;
    z-index: 0;
}

.app-dev-bg {
    animation: slideUp-Big 1s ease-in-out both;
    animation-delay: .2s;
    width: 373px;
    height: 674px;
    background-image: url(../upload/pic-5.a43afb49d6982a54a26451a6d318700a.png);
}

.app-dev-bg554a {
    transition: all .8s;
    width: 324px;
    height: 576px;
    position: absolute;
    top: 62px;
    left: 25px;
    opacity: 1;
    animation: dytxs 3s linear infinite;
}

@keyframes dytxs {
    0% {
        opacity: 1;

    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }



    100% {
        opacity: 0;
    }
}

.agapp-dev-bg {
    transition: all 2s;
    width: 324px;
    height: 576px;
    position: absolute;
    top: 62px;
    left: 25px;
    opacity: 0;
    animation: agahg 3s linear infinite;
}


@keyframes agahg {
    0% {
        opacity: 0.5;

    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }



    100% {
        opacity: 1;
    }
}

.app-dev-logo-QQ {
    position: absolute;
    right: -109px;
    top: 68px;
    width: 120px;
    background-image: url(../upload/icon-logo-1.b1d8bbea405c3c484df0dae654a794fe.png);
    height: 120px;
    animation: jackInTheBox 1s .9s ease-in-out both;
}

.app-dev-logo-DY {
    left: -87px;
    top: 277px;
    animation: jackInTheBox 1s 1.05s ease-in-out both;
    width: 123px;
    height: 123px;
    position: absolute;
    background-image: url(../upload/icon-logo-2.0c197bf3cf4ffc53a1a8104afc8d3e92.png);
}

.app-dev-logo-HY {
    background-image: url(../upload/icon-logo-3.507342b3260fba8ce1093c0fc23a1f8f.png);
    animation: jackInTheBox 1s 1.3s ease-in-out both;
    right: -96px;
    width: 123px;
    height: 123px;
    position: absolute;
    top: 381px;
}

@keyframes jackInTheBox {
    0% {
        opacity: 0;
        transform: scale(.1) rotate(30deg);
        transform-origin: center bottom;
    }

    50% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(3deg);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.app-danmu-box-move {
    width: 944px;
    height: 444px;
    position: absolute;
    top: 130px;
    overflow: hidden;

}

.widget-danmu {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-mask-repeat: repeat-y;
    /* -webkit-mask-image: url(../upload/bg-mask.49179d02c3bf3a4b7abf7b8a217a0904.png); */
}

.widget-danmu-gwidget-danmu-g01 {
    height: 100%;
    position: absolute;
    top: 0;
    animation: danmuShow 14s linear 0s infinite backwards;
    width: 200%;
    left: 100%;
    overflow: hidden;
}

.widget-danmu-gwidget-danmu-g02 {
    width: 200%;
    left: 100%;
    overflow: hidden;
    animation: danmuShow 14s linear 7s infinite backwards;
    height: 100%;
    position: absolute;
    top: 0;
}

@keyframes danmuShow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

#nhbzqo5,
#nhbzqo4,
#nhbzqo3,
#nhbzqo2 {
    display: none;
}


/* 底部 */

.siteFooterWrap {
    padding: 56px 0;
    background-color: #191919;
}

.widget-linkgroup {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    z-index: 100;
    width: 1000px;
    margin: 0 auto;
}



.app-version {
    margin-right: 178px;
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
    vertical-align: top;
}

.app-version h2 {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}

.widget-link-bd {
    width: 50px;
    /* overflow: hidden; */
    display: inline-block;
}

.widget-link-bd ul {
    margin-right: -27px;
}

.widget-link-bd ul li {
    float: left;
    padding-right: 27px;
}

.app-pcduan {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    position: relative;
    display: block;
    color: rgba(199, 201, 203, 0.4);
    white-space: nowrap;
}

.app-pcduan i {
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    border: 1px solid #3a3a3a;
    border-radius: 50%;
    display: block;
}

.app-pcduan i::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;

}

.PC-APP::before {
    background-image: url(../imges/pc-下载.png);
}

.wB-app {
    background-image: url(../imges/wb-下载\ \(2\).png);
    opacity: 0.4;
}

.wX-app {
    background-image: url(../imges/WX-下载\ \(2\).png);
    opacity: 0.4;
}

.get-linkwidget {
    font-size: 0;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
    vertical-align: top;
}

.t-linkwidget-lin {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
}

.app-pcduan:hover i::before,
.app-pcduan:hover:hover .wB-app,
.app-pcduan:hover:hover .wX-app {
    opacity: 1;
}

.app-pcduan:hover {
    color: rgba(199, 201, 203, 0.8);
}

.widget-link-rcode {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 100%;
    width: 144px;
    height: 144px;
    padding: 7px;
    margin-left: -72px;
    margin-bottom: 22px;
    background: #fff;
    border-radius: 5px;
    display: none;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
}

.widget-link-rcode img {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 0;
    animation: fadeIn .3s ease-in-out both;
    vertical-align: middle;
}

.app-pcduan:hover .widget-link-rcode {
    display: block;
}

.app-pcduan:hover .widget-link-rcode::after {
    content: "";
    position: absolute;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    bottom: -10px;
    border-width: 10px 10px 0;
    border-style: solid dashed dashed;
    border-color: #fff transparent transparent;
}



.widget-copyright {
    width: 1000px;
    margin: 0 auto;
    padding-top: 30px;
}

.widget-copyright p {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #5d5d5d;
}

.widget-copyright:hover p {
    color: azure;
}